* {
    margin: 0;
    padding: 0;
}

html {
    font: 10px;
}

body {
    color: aqua;
}

h1 {
    color: blueviolet;
}

h2 {
    color: crimson;
}

h3 {
    color: beige;
}

#Lista1 {
    color: dodgerblue;
}

#Lista2 {
    color: darkmagenta;
}

.pruebaclas {
    color: violet;
}

.encabe {
    background-color: cadetblue;
    padding: 2rem;
    height: 30px;
}
.kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;}