.grid_container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.producto{
    background-color: cadetblue;
    padding: 1rem;
    border: 10px solid; 
    border-color: aqua;
    text-align: center;
}